[Unit]
Description=procServ for softTCS_mk
After=network.target remote-fs.target
ConditionPathIsDirectory=/gem_base/epics/ioc/softTCS_mk

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=:/gem_base/epics/ioc/softTCS_mk/lib/linux-x86_64"
ExecStart=/bin/bash -c '/bin/procServ --foreground --logfile /gemsoft/var/log/tcs/E7-tcs.log --logstamp --name softTCS_mk --ignore ^D^C^] --logoutcmd ^D --chdir /gem_base/epics/ioc/softTCS_mk --info-file /run/procserv-softTCS_mk/info --port 1235 --allow /gem_base/epics/ioc/softTCS_mk/bin/linux-x86_64/sttcs-mk-ioc.boot & echo $! > /run/softTCS_mk.pid'
RuntimeDirectory=procserv-softTCS_mk
StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=procserv-softTCS_mk
PIDFile=/run/softTCS_mk.pid

User=root
Group=root

[Install]
WantedBy=multi-user.target
